<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div>
            <form action="appointment/" method="POST">
                {% csrf_token %}
                {%  for appt in appointments %}

                   <p>{{ appt.Patient.firstname }} {{ appt.Patient.lastname }} At {{ appt.Date }} , {{ appt.Time }}</p>
                    {% if appt.confirmed %}
                        <strong> Confirmed</strong>
                    {% else %}
                        <button> confirm </button>
                    {% endif %}
                {% endfor %}

                <input type="submit" name = "submitbtn">
            </form>
        </div>
</body>
</html>