<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div>

            {%  for appt in appointments %}
                <form action="" method="POST">
                <p><span> Please note that appointments are only allowed from 11:00 AM till 9:00 PM </span> </p>
                    {% csrf_token %}
                    <p>{{ appt.patientname }} With {{ appt.doctorname }} At {{ appt.date }} , {{ appt.time }}</p>

                    <input type="hidden" name="appid" value="{{ appt.id }}">

<!--                    {% if appt.confirmed %}-->
<!--                        <strong> Confirmed</strong>-->
                        {% if not appt.canceled %}
                            <input type="submit" name = "action" value="Cancel">
                        {% else %}
                            <strong> Canceled</strong>
                        {% endif %}
                    {% else %}
<!--                        <input type="submit" name = "action" value="confirm">-->
                        {% if not appt.canceled %}
                            <input type="submit" name = "action" value="Cancel">
                        {% else %}
                              <strong> Canceled</strong>
                        {% endif %}
                    {% endif %}
                </form>

            {% endfor %}

{#<div><#}
{#{% for appointment in appointments %}#}
{#  <li>#}
{#    <div class="collapsible-header blue-grey"><i class="material-icons">assignment_turned_in</i>{{appointment.patientname}} with {{appointment.doctorname}} on {{appointment.time}}</div>#}
{#    <div class="collapsible-body">#}
{#      <span>Patient</span> <span class="blue-text text-lighten-1">{{appointment.patientname}} </span><br>#}
{#      <span>Doctor</span> <span class="blue-text text-lighten-1">{{appointment.doctorname}} </span><br>#}
{#      <span>Time</span> <span class="blue-text text-lighten-1">{{appointment.date }} , {{ appointment.time }}</span>#}
{#      <span class="right-align"><a href="/appointments/change_appointment/{{appointment.id}}" class="btn-floating btn-large halfway-fab waves-effect waves-light red right-align"><i class="material-icons">mode_edit</i></a></span>#}
{#    </div>#}
{#  </li>#}
{#  {% endfor %}#}
{#</div>#}
</div>
</body>
</html>