<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <div>

            {%  for appt in appointments %}
                <form action="" method="POST">
                    {% csrf_token %}
                    <p>{{ appt.patientname }} With {{ appt.doctorname }} At {{ appt.date }} , {{ appt.time }}</p>

                    <input type="hidden" name="appid" value="{{ appt.id }}">

                    {% if appt.confirmed %}
                        <strong> Confirmed</strong>
                        {% if not appt.canceled %}
                            <input type="submit" name = "action" value="Cancel">
                        {% else %}
                            <strong> Canceled</strong>
                        {% endif %}
                    {% else %}
                        <input type="submit" name = "action" value="confirm">
                        {% if not appt.canceled %}
                            <input type="submit" name = "action" value="Cancel">
                        {% else %}
                              <strong> Canceled</strong>
                        {% endif %}
                    {% endif %}
                </form>

            {% endfor %}

        </div>
</body>
</html>